{% extends "base.html" %}

{% block content %}
<div class="container border">
    <h3 class="fa fa-align-center" aria-hidden="true">Criar Grupo</h3>
    <form method="POST" action="{{ url_for('main.creategroup') }}">
        <div class="input-group">
            <input type="text" class="form-control" id="group_name" name="group_name" autocomplete="off"
                placeholder="Grupo" required>&nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-primary">Enviar</button>
        </div>
    </form>
    <br>
</div>
<br>
<div class="container border">
    <h3 class="fa fa-align-center" aria-hidden="true">Apagar Grupo</h3>
    <form method="POST" action="{{ url_for('main.delgroup') }}">
        <div class="input-group">
            {% if groups != None %}
            <select name="group_delete" id="group_delete">
                <option value=""></option>
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            {% endif %}&nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-primary">Apagar</button>
        </div>
    </form>
    <br>
</div>
<div class="container border">
    <h3 class="fa fa-align-center" aria-hidden="true">Grupo - Usuário</h3>
    <form method="POST" action="{{ url_for('main.linkuser') }}">
        <div class="input-group">
            {% if groups != None %}
            <select name="group_sel" id="group_sel">
                <option value=""></option>
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            {% endif %}
            &nbsp;&nbsp;
            <input list="updateuserid" name="updateuserid" placeholder="Usuário" required>
            <datalist id="updateuserid">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </datalist>&nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-primary">Atribuir</button>
        </div>
    </form>
    <br>
</div>

{% endblock %}