{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h3 class="title" style="text-align: center;">
        {{ group.name }}
    </h3>
</div>
<div class="container border">
    <br>
    <form action="/orderexec" method="POST">
        <div class="input-group">
            <input type="submit" class="btn btn-outline-primary" name="action" value="Sortear">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-outline-danger" name="action" value="Apagar">
        </div>
    </form>
    <br>
</div>
<div class="container border">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Jogador</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>
                    {{ player.random }}
                </td>
                <td>
                    {{ player.name }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}