{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h3 class="title" style="text-align: center;">
        {{ group.name }}
    </h3>
</div>
<div class="container border">
    <br>
    <form action="/editteams" method="POST">
        <div class="input-group">
            <input type="submit" class="btn btn-outline-primary" name="action" value="Gerar">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-outline-danger" name="action" value="Apagar">
        </div>
    </form>
    <br>
</div>
<br>
{% for team in teams %}
<div class="container border">
    <br>
    <h4 class="title">
        Time {{ team.id }}
    </h4>
    <br>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Defesa</th>
                <th>Meio</th>
                <th>Ataque</th>
                <th>Geral</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ team.defense }}
                </td>
                <td>
                    {{ team.midfilder }}
                </td>
                <td>
                    {{ team.forward }}
                </td>
                <td>
                    {{ team.overall }}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Jogadores:</th>
                <th>Def</th>
                <th>Mei</th>
                <th>Ata</th>
                <th>Ger</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            {% if player.team == team.id %}
            <tr>
                <td>
                    {{ player.position }}
                </td>
                <td>
                    <a href="{{ url_for('main.editplayer', playerid=player.id) }}">{{ player.name }}
                    </a>
                </td>
                <td>
                    {% if player.defense == 1 %}
                    <img src="{{ url_for('static', filename='images/star_1.png') }}" height="24" width="24">
                    {% elif player.defense == 2 %}
                    <img src="{{ url_for('static', filename='images/star_2.png') }}" height="24" width="24">
                    {% elif player.defense == 3 %}
                    <img src="{{ url_for('static', filename='images/star_3.png') }}" height="24" width="24">
                    {% elif player.defense == 4 %}
                    <img src="{{ url_for('static', filename='images/star_4.png') }}" height="24" width="24">
                    {% elif player.defense == 5 %}
                    <img src="{{ url_for('static', filename='images/star_5.png') }}" height="24" width="24">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/star_empty.png') }}" height="24" width="24">
                    {% endif %}
                </td>
                <td>
                    {% if player.midfilder == 1 %}
                    <img src="{{ url_for('static', filename='images/star_1.png') }}" height="24" width="24">
                    {% elif player.midfilder == 2 %}
                    <img src="{{ url_for('static', filename='images/star_2.png') }}" height="24" width="24">
                    {% elif player.midfilder == 3 %}
                    <img src="{{ url_for('static', filename='images/star_3.png') }}" height="24" width="24">
                    {% elif player.midfilder == 4 %}
                    <img src="{{ url_for('static', filename='images/star_4.png') }}" height="24" width="24">
                    {% elif player.midfilder == 5 %}
                    <img src="{{ url_for('static', filename='images/star_5.png') }}" height="24" width="24">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/star_empty.png') }}" height="24" width="24">
                    {% endif %}
                </td>
                <td>
                    {% if player.forward == 1 %}
                    <img src="{{ url_for('static', filename='images/star_1.png') }}" height="24" width="24">
                    {% elif player.forward == 2 %}
                    <img src="{{ url_for('static', filename='images/star_2.png') }}" height="24" width="24">
                    {% elif player.forward == 3 %}
                    <img src="{{ url_for('static', filename='images/star_3.png') }}" height="24" width="24">
                    {% elif player.forward == 4 %}
                    <img src="{{ url_for('static', filename='images/star_4.png') }}" height="24" width="24">
                    {% elif player.forward == 5 %}
                    <img src="{{ url_for('static', filename='images/star_5.png') }}" height="24" width="24">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/star_empty.png') }}" height="24" width="24">
                    {% endif %}
                </td>
                <td>
                    {{ player.overall }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
{% endfor %}
{% endblock %}